$brown: rgb(176, 108, 81);

%Helvetica {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-style: normal;
}
// @extend %Helvetica;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    padding: 0;
    margin: 0;
}
body {

}
.wrapper {
    background: pink;    
    width: 100%;
    height: 200px;
}

.sprites {
    @include flex(row, space-between, center);
    .item {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 20;
        &.sprite-1 {
            i {
                display: inline-block;
                @include sprite($conversation);
            }
        }
    }
}