// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$check-list-name: 'check-list';
$check-list-x: 0px;
$check-list-y: 0px;
$check-list-offset-x: 0px;
$check-list-offset-y: 0px;
$check-list-width: 64px;
$check-list-height: 64px;
$check-list-total-width: 96px;
$check-list-total-height: 64px;
$check-list-image: '../img/sprite.png';
$check-list: (0px, 0px, 0px, 0px, 64px, 64px, 96px, 64px, '../img/sprite.png', 'check-list', );
$conversation-name: 'conversation';
$conversation-x: 64px;
$conversation-y: 0px;
$conversation-offset-x: -64px;
$conversation-offset-y: 0px;
$conversation-width: 32px;
$conversation-height: 32px;
$conversation-total-width: 96px;
$conversation-total-height: 64px;
$conversation-image: '../img/sprite.png';
$conversation: (64px, 0px, -64px, 0px, 32px, 32px, 96px, 64px, '../img/sprite.png', 'conversation', );
$job-name: 'job';
$job-x: 64px;
$job-y: 32px;
$job-offset-x: -64px;
$job-offset-y: -32px;
$job-width: 24px;
$job-height: 24px;
$job-total-width: 96px;
$job-total-height: 64px;
$job-image: '../img/sprite.png';
$job: (64px, 32px, -64px, -32px, 24px, 24px, 96px, 64px, '../img/sprite.png', 'job', );
$spritesheet-width: 96px;
$spritesheet-height: 64px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($check-list, $conversation, $job, );
$spritesheet: (96px, 64px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
